@import "var"

.nav
  padding: 10px 0 10px 0
  font-weight: bold
  font-size: 17px
  .nav-content
    display: flex
    justify-content: space-between
    align-items: center

.logo
  height: 75px
  width: 150px
  img
    width: 75px

.navigation
  .navigation-list
    display: flex
    list-style: none
    &__item
      margin-right: 30px
      a
        text-decoration: none
        color: $accent
        position: relative
        &::after
          content: ''
          display: inline-block
          position: absolute
          width: 0%
          height: 3px
          background-color: $accent
          bottom: -6px
          left: 0
          transition: 0.3s
        &:hover::after
          width: 100%

.main-button
  display: inline-block
  padding: 13px 20px
  background-color: $accent-orange
  color: $white
  cursor: pointer
  font-size: 16px
  font-family: "Montserrat"
  text-decoration: none
  font-weight: normal
  box-shadow: 11px 10px 9px -3px rgba(249, 167, 38, 0.42)
  transition: 0.3s
  &:hover
    background-color: darken($accent-orange, 10%)
